/* common */
.classContents {
    margin-top: 200px;
    width: 100%;
    min-width: 1280px;
    height: 1442px;
}
.classContents > div {
    float: left;
}
.classContents .classBoxLeft {
    width: calc(100% - 513px);
    height: 1442px;
    padding: 70px 0 0 130px;
    box-sizing: border-box;
    background-color: #1F1E23;
}
.classBoxLeft .className {
    padding: 10px 0 20px 0;
}
.className img {
    width: 19px;
    height: 19px;
    padding-left: 15px;
}
.classBoxLeft .curriculum {
    padding-top: 54px;
}
.curriculumWrap {
    padding-top: 30px;
}
.curriculumWrap .curriculum1 {
    float: left;
}
.curriculumWrap img {
    padding-right: 12px;
}
.curriculumContents {
    float: right;
}
.curriculumText {
    padding: 10px 0 45px 0;
}

.classContents .classBoxRight {
    position: sticky;
    width: 513px;
    padding: 0px 80px 0px 50px;
    box-sizing: border-box;
    top: 120px;
}

.classListIcon {
    width: 15px;
    height: 12px;
    padding-right: 10px;
}
.classBoxRight .classList {
    padding: 25px 0 50px 0;
}
.classBtn {
    width: 383px;
    height: 79px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    line-height: 79px;
}

.underline {
    text-decoration: underline;
}
.moveBtnWrap {
    float: right;
    padding-top: 50px;
}
.moveBtnWrap a{
    position: relative;
    display: block;
    width: 191px;
    height: 50px;
    margin: auto;
    margin-bottom: 35px;
}
.moveBtnWrap a img {
    width: 191px;
}
.moveBtnWrap a span {
    position: absolute;
    top: 4px;
    left: 0;
}
/* 기업컨설팅 */
.class4TopLine {
    display: block;
    padding: 64px 0 37px 0;
    margin: 0 auto;
}
.class4TopTitle {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
}
.class4TopTitle img {
    position: absolute;
    width: 110px;
    height: 35px;
    left: 307px;
}
.blank {
    padding-left: 132px;
}
.class4TopText {
    padding-top: 22px;
    padding-bottom: 75px;
    text-align: center;
}
.class4Contents {
    position: relative;
    padding: 186px 0 220px 0;
    width: 100%;
    min-width: 1280px;
    background-color: #000;
    overflow: hidden;
    z-index: -2;
}
.bgLine {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color:#212121;
    z-index: -1;
}
.bgLine1 {
    top: 151px;
    left: 50%;
}
.bgLine2 {
    top: 310px;
    left: 70%;
}
.bgLine3 {
    top: 466px;
    right: 10%;
}
.bgLine4 {
    top: 1010px;
    left: 10%;
}
.bgLine5 {
    top: 1431px;
    right: 60%;
}
.bgLine6 {
    top: 1700px;
    right: 10%;
}
.class4ServiceWrap {
    width: 1110px;
    margin: auto;
}
.serviceBox1 {
    height: 315px;
}
.serviceBox2 {
    height: 545px;
}
.serviceBox3 {
    height: 660px;
}
.serviceBox4 {
    height: 570px;
}
.class4ServiceWrap .service {
    float: left;
    box-sizing: border-box;
}
.serviceTitle {
    padding-bottom: 19px;
    font-family: 'Helvetica';
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
}
.serviceImg1 {
    width: 379px;
    height: 245px;
    padding-left: 110px;
}
.serviceImg2 {
    width: 383px;
    height: 326px;
    padding: 0 77px 0 23px;
}
.serviceImg3 {
    width: 759px;
    height: 350px;
    float: right;
}
.serviceImg4 {
    width: 392px;
    height: 359px;
    padding-right: 61px;
}
.serviceWho {
    width: 1170px;
    padding: 74px 0 200px 0;
    margin: 0 auto;
}
.serviceWho p {
    text-align: center;
}
.class4BottomLine {
    display: block;
    padding-bottom: 29px;
    margin: 0 auto;
}
.whoList {
    padding-top: 113px;
}
.whoListWrap {
    height: 709px;
}
.whoListWrap > li {
    float: left;
    margin-right: 100px;
    text-align: center;
}
.whoListWrap > li:last-child {
    margin-right: 0;
}
.whoListImg{
    width: 318px;
    height: 337px;
}
.whoListLine {
    width: 40px;
    padding: 73px 0;
}
.whoListTitle {
    padding-top: 57px;
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
}
.whoListBold {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 35px;
}
.whoListText1 {
    padding-bottom: 9px;
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
}
.whoListText2 {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.serviceProcess {
    width: 100%;
    min-width: 1280px;
    padding: 107px 0 250px 0;
    background-color: #000;
}
.serviceProcessWrap {
    width: 1220px;
    margin: 0 auto;
}
.processContents > ul {
    height: 109px;
    margin-bottom: 254px;
}
.serviceProcessWrap > .processContents > ul > li {
    float: left;
    width: 22%;
    padding-top: 27px;
    text-align: center;
}
.serviceProcessWrap > .processContents > ul > li:first-child,
.serviceProcessWrap > .processContents > ul > li:last-child {
    width: 17%;
}
.processTitle {
    padding-left: 20px;
    border-left: 2px solid #E9CF4A;
}
.processText {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 6px;
}
.processImg {
    display: block;
    width: 1155px;
    margin: 0 auto;
    padding-top: 68px;
}
.classBtn2 {
    width: 383px;
    height: 79px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    line-height: 79px;
}