.subTitleBox {
    width: 100%;
    min-width: 1280px;
    margin: 0 auto;
    padding: 80px 130px 0 130px;
    box-sizing: border-box;
}
.subTitleBox .subTitle {
    padding-top: 30px;
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 35px;
    /* identical to box height, or 100% */
    letter-spacing: 40px;
    text-transform: uppercase;
}
.subText {
    padding-top: 37px;
}