.contentsWrap{
    width: 500px;
    height: 1440px;
    background-color: antiquewhite;
}
.st {
    width: 50px;
    height: 50px;
    background-color: red;
    position: sticky;
    top: 5px;
    
}